@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121517;
}

input[type="text"]:focus ~ .input-text,
input[type="password"]:focus ~ .input-text,
input[type="email"]:focus ~ .input-text {
  @apply text-blue-500;
  background: linear-gradient(to bottom, #1e1f25, #121517);
}

input::placeholder {
  color: #363647; /* Color del texto del placeholder */
  font-style: inherit; /* Estilo de fuente del placeholder, por ejemplo, cursiva */
}

::-webkit-scrollbar {
  width: 0px;
}
